In [1]:
#INSTALAR BIBLIOTECAS
import numpy as np
import pandas as pd

In [2]:
#IMPORTAR DADOS DE PLANILHAS
q1_2019 = pd.read_csv("Divvy_Trips_2019_Q1.csv")
q1_2020 = pd.read_csv("Divvy_Trips_2020_Q1.csv")

In [5]:
#ORGANIZAR DADOS E COMBINAR TABELAS

#Comparar colunas das duas tabelas
print("Colunas Q1 2019:\n", q1_2019.columns)
print("\nColunas Q1 2020:\n", q1_2020.columns)

Colunas Q1 2019:
 Index(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration',
       'from_station_id', 'from_station_name', 'to_station_id',
       'to_station_name', 'usertype', 'gender', 'birthyear'],
      dtype='str')

Colunas Q1 2020:
 Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='str')

In [6]:
#Renomear colunas de 2019 para alinhas com 2020
q1_2019 = q1_2019.rename(columns={
'trip_id': 'ride_id',
'bikeid': 'rideable_type',
'start_time': 'started_at',
'end_time': 'ended_at',
'from_station_name': 'start_station_name',
'from_station_id': 'start_station_id',
'to_station_name': 'end_station_name',
'to_station_id': 'end_station_id',
'usertype': 'member_casual'
})

In [8]:
#Inspecionar Dataframe 2019
print("\nQ1 2019 Data Info:")
q1_2019.info()

Q1 2019 Data Info:
<class 'pandas.DataFrame'>
RangeIndex: 365069 entries, 0 to 365068
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             365069 non-null  int64
 1   started_at          365069 non-null  str
 2   ended_at            365069 non-null  str
 3   rideable_type       365069 non-null  int64
 4   tripduration        365069 non-null  str
 5   start_station_id    365069 non-null  int64
 6   start_station_name  365069 non-null  str
 7   end_station_id      365069 non-null  int64
 8   end_station_name    365069 non-null  str
 9   member_casual       365069 non-null  str
 10  gender              345358 non-null  str
 11  birthyear           347046 non-null  float64
dtypes: float64(1), int64(4), str(7)
memory usage: 33.4 MB

In [9]:
#Inspecionar Dataframe 2020
print("\nQ1 2020 Data Info:")
q1_2020.info()

Q1 2020 Data Info:
<class 'pandas.DataFrame'>
RangeIndex: 426887 entries, 0 to 426886
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426887 non-null  str
 1   rideable_type       426887 non-null  str
 2   started_at          426887 non-null  str
 3   ended_at            426887 non-null  str
 4   start_station_name  426887 non-null  str
 5   start_station_id    426887 non-null  int64
 6   end_station_name    426886 non-null  str
 7   end_station_id      426886 non-null  float64
 8   start_lat           426887 non-null  float64
 9   start_lng           426887 non-null  float64
 10  end_lat             426886 non-null  float64
 11  end_lng             426886 non-null  float64
 12  member_casual       426887 non-null  str
dtypes: float64(5), int64(1), str(7)
memory usage: 42.3 MB

In [10]:
#Converter ride_id e rideable_type de 2019 para Strings, para combinar com 2020 
q1_2019['ride_id'] = q1_2019['ride_id'].astype(str)
q1_2019['rideable_type'] = q1_2019['rideable_type'].astype(str)

In [12]:
#Juntar os dois dataframes em um único
all_trips = pd.concat([q1_2019, q1_2020], ignore_index=True)

#Remover colunas lat, long, birthyear, and gender, pois não existem mais em 2020
all_trips = all_trips.drop(columns=['start_lat', 'start_lng', 'end_lat', 'end_lng', 'birthyear', 'gender',
'tripduration'], errors='ignore')

In [14]:
#LIMPEZA DE DADOS PARA A ANÁLISE

#Inspecionar novo Dataframe
print("\nLista de nomes de colunas:\n", all_trips.columns)
print("\nNúmero de linhas no Dataframe:", len(all_trips))
print("\nDimensões do Dataframe:", all_trips.shape)
print("\n6 primeiras linhas do Dataframe:\n", all_trips.head())
print("\nVer colunas e tipos de dados:\n")
all_trips.info()

Lista de nomes de colunas:
 Index(['ride_id', 'started_at', 'ended_at', 'rideable_type',
       'start_station_id', 'start_station_name', 'end_station_id',
       'end_station_name', 'member_casual'],
      dtype='str')

Número de linhas no Dataframe: 791956

Dimensões do Dataframe: (791956, 9)

6 primeiras linhas do Dataframe:
     ride_id           started_at             ended_at rideable_type  \
0  21742443  2019-01-01 00:04:37  2019-01-01 00:11:07          2167
1  21742444  2019-01-01 00:08:13  2019-01-01 00:15:34          4386
2  21742445  2019-01-01 00:13:23  2019-01-01 00:27:12          1524
3  21742446  2019-01-01 00:13:45  2019-01-01 00:43:28           252
4  21742447  2019-01-01 00:14:52  2019-01-01 00:20:56          1170

   start_station_id                   start_station_name  end_station_id  \
0               199               Wabash Ave & Grand Ave            84.0
1                44               State St & Randolph St           624.0
2                15                 Racine Ave & 18th St           644.0
3               123       California Ave & Milwaukee Ave           176.0
4               173  Mies van der Rohe Way & Chicago Ave            35.0

                 end_station_name member_casual
0       Milwaukee Ave & Grand Ave    Subscriber
1  Dearborn St & Van Buren St (*)    Subscriber
2   Western Ave & Fillmore St (*)    Subscriber
3               Clark St & Elm St    Subscriber
4         Streeter Dr & Grand Ave    Subscriber

Ver colunas e tipos de dados:

<class 'pandas.DataFrame'>
RangeIndex: 791956 entries, 0 to 791955
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             791956 non-null  str
 1   started_at          791956 non-null  str
 2   ended_at            791956 non-null  str
 3   rideable_type       791956 non-null  str
 4   start_station_id    791956 non-null  int64
 5   start_station_name  791956 non-null  str
 6   end_station_id      791955 non-null  float64
 7   end_station_name    791955 non-null  str
 8   member_casual       791956 non-null  str
dtypes: float64(1), int64(1), str(7)
memory usage: 54.4 MB

In [ ]:
#Verificar valores de member_casual
print("\nValores de 'member_casual' antes de limpeza:\n",
all_trips['member_casual'].value_counts())

Valores de 'member_casual' antes de limpeza:
 member_casual
member        378407
Subscriber    341906
casual         48480
Customer       23163
Name: count, dtype: int64

In [17]:
#Correção dos valores de member_casual
all_trips['member_casual'] = all_trips['member_casual'].replace({
'Subscriber': 'member',
'Customer': 'casual'
})

In [18]:
#Verificar valores de member_casual
print("\nValores de 'member_casual' depois da limpeza:\n",
all_trips['member_casual'].value_counts())

Valores de 'member_casual' depois da limpeza:
 member_casual
member    720313
casual     71643
Name: count, dtype: int64

In [19]:
#Converter "started_at" e "ended_at" para formato Datetime
all_trips['started_at'] = pd.to_datetime(all_trips['started_at'])
all_trips['ended_at'] = pd.to_datetime(all_trips['ended_at'])

In [28]:
#Adicionar colunas que listem a data, mês, dia e ano de cada viagem
all_trips['date'] = all_trips['started_at'].dt.date
all_trips['month'] = all_trips['started_at'].dt.month
all_trips['day'] = all_trips['started_at'].dt.day
all_trips['year'] = all_trips['started_at'].dt.year
all_trips['day_of_week'] = all_trips['started_at'].dt.day_name()

#Adicionar cálculo "ride_length" para todas as viagens (em minutos)
all_trips['ride_length'] = (all_trips['ended_at'] - all_trips['started_at']).dt.total_seconds() / 60

In [29]:
#Inspecionar tabela com novos tipos de dados
print("\nTipos de dados depois de adicionar colunas de data e ride_length:\n")
all_trips.info()

Tipos de dados depois de adicionar colunas de data e ride_length:

<class 'pandas.DataFrame'>
RangeIndex: 791956 entries, 0 to 791955
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             791956 non-null  str
 1   started_at          791956 non-null  datetime64[us]
 2   ended_at            791956 non-null  datetime64[us]
 3   rideable_type       791956 non-null  str
 4   start_station_id    791956 non-null  int64
 5   start_station_name  791956 non-null  str
 6   end_station_id      791955 non-null  float64
 7   end_station_name    791955 non-null  str
 8   member_casual       791956 non-null  str
 9   date                791956 non-null  object
 10  month               791956 non-null  int32
 11  day                 791956 non-null  int32
 12  year                791956 non-null  int32
 13  day_of_week         791956 non-null  str
 14  ride_length         791956 non-null  float64
dtypes: datetime64[us](2), float64(2), int32(3), int64(1), object(1), str(6)
memory usage: 81.6+ MB

In [33]:
#Excluir viagens de manutenção, "viagens no tempo" e outliars, remover duplicatas
all_trips_v2 = all_trips[(all_trips['start_station_name'] != "HQ QR") & (all_trips['ride_length'] >=
0) & (all_trips['ride_length'] <= 1440)].copy()
all_trips_v2.drop_duplicates()

,ride_id,started_at,ended_at,rideable_type,start_station_id,start_station_name,end_station_id,end_station_name,member_casual,date,month,day,year,day_of_week,ride_length
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,199,Wabash Ave & Grand Ave,84.0,Milwaukee Ave & Grand Ave,member,2019-01-01,1,1,2019,Tuesday,6.500000
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,44,State St & Randolph St,624.0,Dearborn St & Van Buren St (*),member,2019-01-01,1,1,2019,Tuesday,7.350000
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,15,Racine Ave & 18th St,644.0,Western Ave & Fillmore St (*),member,2019-01-01,1,1,2019,Tuesday,13.816667
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,123,California Ave & Milwaukee Ave,176.0,Clark St & Elm St,member,2019-01-01,1,1,2019,Tuesday,29.716667
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,173,Mies van der Rohe Way & Chicago Ave,35.0,Streeter Dr & Grand Ave,member,2019-01-01,1,1,2019,Tuesday,6.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791949,005D3BC2A3B33DDA,2020-03-12 07:32:25,2020-03-12 07:38:44,docked_bike,91,Clinton St & Washington Blvd,47.0,State St & Kinzie St,member,2020-03-12,3,12,2020,Thursday,6.316667
791952,82B10FA3994BC66A,2020-03-07 15:25:55,2020-03-07 16:14:03,docked_bike,161,Rush St & Superior St,240.0,Sheridan Rd & Irving Park Rd,member,2020-03-07,3,7,2020,Saturday,48.133333
791953,AA0D5AAA0B59C8AA,2020-03-01 13:12:38,2020-03-01 13:38:29,docked_bike,141,Clark St & Lincoln Ave,210.0,Ashland Ave & Division St,casual,2020-03-01,3,1,2020,Sunday,25.850000
791954,3296360A7BC20FB8,2020-03-07 18:02:45,2020-03-07 18:13:18,docked_bike,672,Franklin St & Illinois St,264.0,Stetson Ave & South Water St,member,2020-03-07,3,7,2020,Saturday,10.550000
791955,064EC7698E4FF9B3,2020-03-08 13:03:57,2020-03-08 13:32:27,docked_bike,110,Dearborn St & Erie St,85.0,Michigan Ave & Oak St,casual,2020-03-08,3,8,2020,Sunday,28.500000

In [ ]:
#CONDUZIR ANÁLISE DESCRITIVA

#Duração da viagem (em minutos)
print("\nAnálise Descritiva da coluna ride_length:\n", all_trips_v2['ride_length'].describe())

Análise Descritiva da coluna ride_length:
 count    787707.000000
mean         13.723390
std          31.111472
min           0.016667
25%           5.500000
50%           8.983333
75%          15.183333
max        1435.916667
Name: ride_length, dtype: float64

In [35]:
#Comparar usuários casuais com assinantes
print("\nDuração da viagem agrupada por member_casual:\n",
all_trips_v2.groupby('member_casual')['ride_length'].agg(['mean', 'median', 'max', 'min']))

Duração da viagem agrupada por member_casual:
                     mean     median          max       min
member_casual
casual         38.378880  23.133333  1435.916667  0.033333
member         11.409532   8.466667  1433.066667  0.016667

In [ ]:
#Ver média de duração da viagem baseada no tipo de usuário e dia da semana
print("\nMédia de duração da viagem por tipo de usuário e dia da semana:\n",
all_trips_v2.groupby(['member_casual', 'day_of_week'])['ride_length'].mean())

Média de duração da viagem por tipo de usuário e dia da semana:
 member_casual  day_of_week
casual         Friday         37.124838
               Monday         34.426486
               Saturday       38.945682
               Sunday         40.857169
               Thursday       35.271410
               Tuesday        35.563465
               Wednesday      41.116743
member         Friday         11.101253
               Monday         11.104777
               Saturday       12.435637
               Sunday         12.920790
               Thursday       11.069124
               Tuesday        11.323816
               Wednesday      11.170365
Name: ride_length, dtype: float64

In [37]:
#Ordenar dias da semana pra melhor análise
days_order = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
all_trips_v2['day_of_week'] = pd.Categorical(all_trips_v2['day_of_week'],
categories=days_order, ordered=True)

In [38]:
#Ver média de duração da viagem baseada no tipo de usuário e dia da semana ordenado
print("\nMédia de duração da viagem por tipo de usuário e dia da semana:\n",
all_trips_v2.groupby(['member_casual', 'day_of_week'])['ride_length'].mean())

Média de duração da viagem por tipo de usuário e dia da semana:
 member_casual  day_of_week
casual         Sunday         40.857169
               Monday         34.426486
               Tuesday        35.563465
               Wednesday      41.116743
               Thursday       35.271410
               Friday         37.124838
               Saturday       38.945682
member         Sunday         12.920790
               Monday         11.104777
               Tuesday        11.323816
               Wednesday      11.170365
               Thursday       11.069124
               Friday         11.101253
               Saturday       12.435637
Name: ride_length, dtype: float64

In [39]:
#Resumo das viagens e duração agrupadas por tipo de usuário e dia da semana
summary_stats = all_trips_v2.groupby(['member_casual', 'day_of_week']).agg(
number_of_rides=('ride_id', 'count'),
average_duration=('ride_length', 'mean')
).reset_index()
print("\nResumo das viagens e duração agrupadas por tipo de usuário e dia da semana:\n", summary_stats)

Resumo das viagens e duração agrupadas por tipo de usuário e dia da semana:
    member_casual day_of_week  number_of_rides  average_duration
0         casual      Sunday            18578         40.857169
1         casual      Monday             5569         34.426486
2         casual     Tuesday             7288         35.563465
3         casual   Wednesday             7655         41.116743
4         casual    Thursday             7105         35.271410
5         casual      Friday             7971         37.124838
6         casual    Saturday            13416         38.945682
7         member      Sunday            60178         12.920790
8         member      Monday           110412         11.104777
9         member     Tuesday           127946         11.323816
10        member   Wednesday           121878         11.170365
11        member    Thursday           125198         11.069124
12        member      Friday           115132         11.101253
13        member    Saturday            59381         12.435637

In [41]:
#EXPORTAR .CSV PARA VISUALIZAÇÃO NO TABLEAU

counts = all_trips_v2.groupby(['member_casual', 'day_of_week']).agg(
number_of_rides=('ride_id', 'count'),
average_duration=('ride_length', 'mean')
).reset_index()
counts.to_csv('avg_duration.csv', index=False)